body {
  padding: 80px;
  font-family: "Avenir", sans-serif;
  background-color: #f0f0f0;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 80px auto;
}
header img {
  width: 25vw;
  height: auto;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #1a1a1a;
  font-weight: 400;
}
h2 {
  font-size: 32px;
  color: #1a1a1a;
  font-weight: 400;
}
p {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 400;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  gap: 20px;
  margin: 120px auto 120px auto;
}
.column {
  width: 50%;
}
.img-frame {
  width: 100%;
  height: 33vh;
  border: 2px solid #acacac9f;
  overflow: hidden;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  header img {
    width: 50vw;
  }
}
